/* body{
    background-image: url("../index.jpg");
}; 
 */
#map{
    height:500px;

} 



/* footer section */
 /* footer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  } */
 
/* footer section */     
.logo {
	display: inline-block;

}

.logo>img {
	vertical-align: middle;
	padding-bottom: 10px;
	padding-left: 10px;
}
.nav-wrapper, .page-footer {
	background-color: #2E76C6;

}

#hover:hover {
	background-color: #1565c0 !important;
}

/*.listing-slider {
	margin-bottom: -50px;
}*/


ul.horizontal-slide {
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

ul.horizontal-slide li[class*="col"] {
    display: inline-block;
    float: none;
}

ul.horizontal-slide li[class*="col"]:first-child {
    margin-left: 0;
}

.thumbnail {
	margin-top: 25px;
}

.divider {
	background-color: lightgrey;
	width: 94%;
	margin: auto;
	padding:1px;

}

.tabs-content.carousel .carousel-item {
width: 100%;
/*height: 950px !important;*/
}

.wrapper {
	width: 90%;
	margin: auto;
}

.carousel {
	margin-top: -220px;
	margin-bottom: 80px;
	height: 600px !important;
}

.materialboxed {
	height: 425px;
}


#listing-info {
	overflow: auto;
}

.popout {
	margin-top: 40px;
	margin-bottom: 40px;
}

.collapsible-body {
	text-align: center;
}

#icons {
	width: 80px;
	height: auto;
}
.zestimate {
	
	text-align: right;
	
}

#discription {
	text-align: justify;
	font-size: 16px;
}

#github {
	width: 40px;
	height: auto;
}

/* main Page parallax container height  */
.parallax-container {
      height: 600px;
	}

	
nav{
	margin-bottom:20px;
}	

/* This section belongs to area maps on the first page. */

 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */

        /* html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        } */

        #description {
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
        }

        #infowindow-content .title {
            font-weight: bold;
        }

        #infowindow-content {
            display: none;
        }

        #map #infowindow-content {
            display: inline;
        }

        .pac-card {
            margin: 10px 10px 0 0;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            background-color: #fff;
            font-family: Roboto;
        }

        #pac-container {
            padding-bottom: 12px;
            margin-right: 12px;
        }

        .pac-controls {
            display: inline-block;
            padding: 5px 11px;
        }

        .pac-controls label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }

        #pac-input {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 400px;
        }

        #pac-input:focus {
            border-color: #4d90fe;
        }

        #title {
            color: #fff;
            background-color: #4d90fe;
            font-size: 25px;
            font-weight: 500;
            padding: 6px 12px;
        }

        #target {
            width: 345px;
		}
		
		/* area maps section ends. */