/* body{
    background-image: url("../index.jpg");
}; 
 */
#map{
    height:500px;

} 
/* Optional: Makes the sample page fill the window. */

/* html,
body {
     */
    /* height: 100%; */
    /* width:75%; */
    /* margin: 0;
    padding: 0;
} */



/* footer section */
 /* body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  } */
 
/* footer section */     
.logo{
	display: inline-block;
	/*height: 100*/
}

.logo>img{
	vertical-align: middle;
	padding-bottom: 10px;
	padding-left: 10px;
}
.nav-wrapper, .page-footer {
	background-color: #2E76C6;

}

#hover:hover {
	background-color: #1565c0 !important;
}

#listing-row > #listing-col{
	float: none;
	display: inline-block;
	/*overflow: auto;*/
	overflow-x: scroll;

}

#listing-row {
	height: 50px;
}


/*#listing-row {
	height: 200px;
}*/

.responsive-img {
	min-height: 100px;
	min-width: 150px;
}



.divider {
	background-color: lightgrey;
	width: 94%;
	margin: auto;
	padding:1px;

}
#listing-info {
	/*margin: 30px !important;*/
	overflow: auto;
}
.zindex-value {
	/*float: right;*/
	text-align: right;
	/*margin-right: 10px;*/
	/*overflow: auto;*/
}

#discription {
	text-align: justify;

	/*margin-left: 40px;*/
	font-size: 16px;
}

#facts {
	/*margin-left: 38px;*/
}

#github {
	width: 40px;
	height: auto;
}