<!DOCTYPE html>
<html ng-app = "dreamhouse">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content=" width = device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!-- <meta charset="utf-8"> -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script type="text/javascript" src="./js/areaMap.js"> </script>
    <link rel="stylesheet" href="./css/style.css">

</head>
<div id="navHeader"></div>

<body>
    
    <div class="row">
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div class="col s7" id="map" style=" height:700px; "></div>
        <div class="input-field col s5">
            <!-- <input id="search" type="search" required>
            <label class="label-icon" for="search">
                <i class="material-icons">search</i>
            </label> -->
            <!-- <i class="material-icons">close</i> -->


            <!-- Collapsible Property Data Menu (Grab the Chart.js logic script tags bellow) -->
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">View</i>Open Houses</div>
                    <div class="collapsible-body">
                        <span><a href="./listing.html">
                            <i class="material-icons">location_city</i>
                        </a></span>
                        <!-- <canvas id="doughnut-chart" width="800" height="450"></canvas> -->
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">place</i>All Listings</div>
                    <div class="collapsible-body">
                        <span>Lorem ipsum dolor sit amet.</span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">place</i>Neighborhood</div>
                    <div class="collapsible-body">
                        <span>Lorem ipsum dolor sit amet.</span>
                        <!-- Element Showed -->
                        
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">whatshot</i>Nearby Schools</div>
                    <div class="collapsible-body">
                        <span>Lorem ipsum dolor sit amet.</span>
                    </div>
                </li>
            </ul>


        </div>
    </div>
    <!-- Location for house pictures to be displayed -->
    <div class="parallax-container">
        <div class="parallax">
            <img src="./images/home1.jpg">
        </div>
    </div>
    <div class="section lime">
        <div class="row container">
            <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="./images/home1.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="./images/home1.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="./images/home1.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container">
        <div class="parallax">
            <img src="./images/home1.jpg">
        </div>
    </div>

    <div class="col s12 m7">
            
            <!-- Modal Structure -->
            <div id="modal1" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <div ng-controller="AppCtrl as ctrl" ng-cloak>
                    
                        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">USER </span>
                                </md-card-title-text>
                            </md-card-title>
                            <br>
                            <br>
                            <md-card-content>
                                <form name="userForm">
                                    <div layout-gt-sm="row">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>User Type</label>
                                            <md-select ng-model="ctrl.userType">
                                                <md-option ng-repeat="userType in ctrl.userTypes" ng-value="userType.abbrev">
                                                    {{userType.abbrev}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>First name</label>
                                            <input ng-model="user.firstName">
                                        </md-input-container>
                    
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Last name</label>
                                            <input ng-model="theMax">
                                        </md-input-container>
                                    </div>
                                    <div layout-gt-xs="row">
                                        <div flex-gt-xs>
                                            <label>DOB</label>
                                            <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
                                        </div>
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Sex</label>
                                            <md-select ng-model="ctrl.userSex">
                                                <md-option ng-repeat="sex in ctrl.sex" ng-value="sex.abbrev">
                                                    {{sex.abbrev}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                    
                                    <div layout-gt-xs="row">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>City</label>
                                            <input ng-model="user.city">
                                        </md-input-container>
                                        <md-input-container>
                                            <label>State</label>
                                            <md-select ng-model="ctrl.userState">
                                                <md-option>
                                                    <em>None</em>
                                                </md-option>
                                                <md-option ng-repeat="state in ctrl.states" ng-value="state.abbrev">
                                                    {{state.abbrev}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                    
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Postal Code</label>
                                            <input name="postalCode" ng-model="user.postalCode" placeholder="12345" required md-maxlength="5">
                                        </md-input-container>
                                    </div>
                                </form>
                            </md-card-content>
                            <!-- <md-card-actions layout="row" layout-align="end center">
                                <md-button>Add</md-button>
                                <md-button>Cancel</md-button>
                            </md-card-actions> -->
                        </md-card>
                        <!-- <md-divider></md-divider> -->
                    
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="submit">Submit</a>
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="cancel">Cancel</a>
                </div>
            </div>
        </div>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBArDQ0JOpcYDoISzBQndh9zZ98qZKLOsQ&libraries=places&callback=initAutocomplete"
        async defer></script>

    <!-- Chart.js logic -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script> -->
    <!-- <script src="chart.js"></script> -->
    <script src="./js/addUser.js"></script>
    <script src="./js/index.js"></script>

    
</body>
<!-- This is the footer section -->
<div id="footer"></div>


</html>